
.login-content {
    max-width: 400px;
    height: 400px;

    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

button[type=submit] {
    border: 0.5px solid #3d686c !important;
    width: 50%;
}
