.top-menu {
    background-color: #B8A9C9;
}

.header-logo {
    color: #622569;
    font-family: Paprika, Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.menu-lateral {
    font-family: Piazzolla, sans-serif;
    font-weight: 600;
    min-width: fit-content;
}

.active {
    background-color: #DDCE2A;
    border-radius: 0 15px 15px 0;


}

.nav-link {
    padding-left: 2rem;

}