.top-menu {
    background-color: #B8A9C9;
}

.header-logo {
    color: #622569;
    font-family: Paprika, Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 600;
    margin: 0;
    padding: 0;
}